@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap");

#parent {
  text-align: center; /* this is the key */
  position: relative;
  margin: 0 auto;
}
.cards {
  width: 100px;
  height: 100px;
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
}

/* Main Styles */
button {
  display: block;
  font-family: "Alegreya", serif;
  background-color: #996399;
  text-align: center;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
button span,
button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
button span:after {
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
button .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
button .icon .bx {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
button .icon .fa-remove {
  height: 36px;
}
button .icon .bx-log-in {
  height: 36px;
}
button .icon .fa-check {
  display: none;
}
button.success span,
button:hover span {
  left: -72%;
  opacity: 0;
}
button.success .icon,
button:hover .icon {
  width: 100%;
}
button.success .icon .fa,
button:hover .icon .fa {
  font-size: 45px;
}
button.success .icon .fa,
button:hover .icon .bx {
  font-size: 45px;
}
button.success {
  background-color: #27ae60;
}
button.success .icon .fa-remove {
  display: none;
}
button.success .icon .bx-log-in {
  display: none;
}
button.success .icon .fa-check {
  display: inline-block;
}
button:hover {
  opacity: 0.9;
}
button:hover .icon .fa-remove {
  height: 46px;
}
button:active {
  opacity: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: calc(2px * 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: calc(2px / 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.15);
  scrollbar-track-color: transparent;
  font-family: "Alegreya", serif;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 5vmin;
  font-family: "Alegreya", serif;
}

body {
  display: grid;
  font-family: "Alegreya", serif;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #333;
  background-color: #996399;
  background-size: 50% 100%;
}
body .message {
  position: absolute;
  right: 0.5vw;
  top: 1vw;
  max-width: 60vw;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
body .message a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
body .message a:hover {
  border-width: 3px;
}
body .card {
  height: 350px;
  width: 800px;
  top: 17%;
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* text-shadow: 0 0 1em rgba(0, 0, 0, 0.5); */
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
}
.side {
  width: 50%;
  top: 50%;
  left: 50%;
  position: fixed;
  font-family: "Alegreya", serif;
}

.year {
  position: fixed;
  top: 50%;
  left: 11%;
}
.text {
  color: #000000;
  font-size: 35px;
}

.para {
  color: #000000;
  font-size: 20px;
  font-weight: 200;
  align-content: center;
}
