.cards {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px !important;
  background: #ffffff;
  background-position: center;
  margin: auto auto;
  border-radius: 15px !important;
  font-family: "Roboto Slab", serif !important;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cards-body {
  text-align: center;
  border-radius: 15px;
}
.cards-body .card-title {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
}

.text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.para {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  align-content: center;
  margin: 20px 0px;
}
